.access h2{
    font-size: 26px;
}
.access p{
    margin-top: 12px;
    margin-bottom: 70px;
}
.access img{
    width: 100%;
    margin:auto;
}
.access{
    font-family: 'Bai jamjuree' , sans-serif;
}