.hero p{
    text-align: center;
    width: 80%;
    margin-top: 12px;
}
.hero h1{
    font-size: 45px;
    margin-top: 50px;
    word-spacing: 3px;
    text-align: center;
    
}
.buttons{
    gap: 12px;
    margin-top: 50px;
    
}
.hero{
    background: url('./bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bai jamjuree' , sans-serif;
    height: 80vh;
}
.button:hover{
    background:hsl(172, 14%, 79%);
    color: black;
    cursor: pointer;
}
.button2:hover{
    background:  hsl(232, 23%, 74%); 
    color: black;
}



@media (max-width: 771px){
    .hero{
        margin-bottom: 30px;
    }
}
@media (max-width: 574px){
    .hero{
        margin-bottom: 100px;
    }
}
@media (max-width: 451px){
    .hero{
        margin-bottom: 200px;
    }
}